* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: Courier New, Courier, monospace;
	background: linear-gradient(180deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25));
}
#app-block.warm {
	background-image: url(../img/sunny.b4586afb.jpg);
}
#app-block.clouds {
	background-image: url(../img/mountains-cloud.81151242.jpg);
}
#app-block.rain {
	background-image: url(../img/thunder.b1cd2cf0.jpg);
}
#app-block {
	background-image: url(../img/mountains.5f5cec2f.jpg);
	background-size: cover;
	background-position: bottom;
	transition: all 0.4s;
	max-width: 50vw;
	margin: 0 auto;
}
main {
	min-height: 100vh;
	padding: 25px;
	background-image: linear-gradient(
		180deg,
		rgba(0, 0, 0, 0.25),
		rgba(0, 0, 0, 0.75)
	);
}
.search-box {
	width: 100%;
	margin-bottom: 30px;
}
.search-box .search-bar {
	display: block;
	width: 100%;
	padding: 15px;
	color: #313131;
	font-size: 20px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: none;
	outline: none;
	background: none;
	background-color: hsla(0, 0%, 100%, 0.55);
	border-radius: 16px 0 16px 0;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
	transition: all 0.4s;
}
.search-box .search-bar:focus {
	box-shadow: 0 0 16px rgba(0, 0, 0, 0.25);
	background-color: hsla(0, 0%, 100%, 0.85);
	border-radius: 0 16px 0 16px;
}
.location-box .location {
	color: #fff;
	font-size: 32px;
	font-weight: 500;
	text-align: center;
	text-shadow: 1px 3px rgba(0, 0, 0, 0.25);
}
.location-box .date {
	color: #fff;
	font-size: 20px;
	font-weight: 300;
	text-align: center;
	font-style: italic;
}
.weather-box {
	text-align: center;
}
.weather-box .temp {
	display: inline-block;
	padding: 10px 25px;
	font-size: 100px;
	font-weight: 900;
	background-color: hsla(0, 0%, 100%, 0.25);
	border-radius: 16px;
	margin: 30px 0;
	box-shadow: 3px 6px rgba(0, 0, 0, 0.25);
}
.weather-box .temp,
.weather-box .weather {
	color: #fff;
	text-shadow: 3px 6px rgba(0, 0, 0, 0.25);
}
.weather-box .weather {
	font-size: 48px;
	font-weight: 700;
	font-style: italic;
}
